.funny-glasses {
  position: relative;
  left: 213px;
  bottom:108px;
}

.bandana {
position: absolute; 
left:107px;
top:178px;
}

.pawprint {
    position:fixed;
    top:46px;
    left: 65px
}

.luna {
    position: sticky; 
left:0;
}

.top-hat {
    z-index: 1;
}